{erl_opts, [
    debug_info,
    verbose
]}.
{deps, []}.
{project_plugins, [erlfmt, rebar3_auto]}.

{erlfmt, [
    check,
    verbose,
    {print_width, 80},
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config"
    ]},
    {exclude_files, [
        "src/erlang_red_attr_leex.erl",
        "src/erlang_red_attr_parser.erl"
        "src/erlang_red_binary_type_leex.erl"
        "src/erlang_red_binary_type_parser.erl"
        "src/erlang_red_num_leex.erl"
        "src/erlang_red_num_parser.erl"
    ]}
]}.
